@charset "utf-8";
/*****GLOBAL*****/

html, body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.fullheight {
    height: 100%;
}

.container-fluid.no-gutter {
  padding-right: 0;
  padding-left: 0;
}
/*****HEADER*****/

/*****MAIN*****/

.b {
    border: 2px solid white;
    
}



/*****FOOTER*****/